In [1]:
import pandas as pd
df = pd.read_csv('placement-dataset.csv')
print(df.shape)

(100, 4)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       100 non-null    object
 1   cgpa       92 non-null     float64
 2   iq         96 non-null     float64
 3   placement  100 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ KB

In [3]:
df.describe

<bound method NDFrame.describe of            city  cgpa     iq  placement
0      New York   6.8  123.0          1
1   Los Angeles   5.9  106.0          0
2       Chicago   NaN  121.0          0
3      New York   7.4  132.0          1
4   Los Angeles   5.8  142.0          0
..          ...   ...    ...        ...
95      Chicago   4.3  200.0          0
96     New York   4.4   42.0          0
97  Los Angeles   6.7  182.0          1
98      Chicago   6.3  103.0          1
99     New York   6.2  113.0          1

[100 rows x 4 columns]>

In [4]:
df.tail(3)

           city  cgpa     iq  placement
97  Los Angeles   6.7  182.0          1
98      Chicago   6.3  103.0          1
99     New York   6.2  113.0          1

In [5]:
df.describe(include='all')

            city       cgpa          iq   placement
count        100  92.000000   96.000000  100.000000
unique         3        NaN         NaN         NaN
top     New York        NaN         NaN         NaN
freq          34        NaN         NaN         NaN
mean         NaN   5.965217  117.916667    0.460000
std          NaN   1.164911   46.913508    0.500908
min          NaN   3.300000    1.000000    0.000000
25%          NaN   5.000000   90.000000    0.000000
50%          NaN   6.000000  122.000000    0.000000
75%          NaN   6.825000  146.750000    1.000000
max          NaN   8.500000  233.000000    1.000000

In [8]:
df.describe(include='all').style.background_gradient(cmap='ocean_r')

In [10]:
df.isnull()

     city   cgpa     iq  placement
0   False  False  False      False
1   False  False  False      False
2   False   True  False      False
3   False  False  False      False
4   False  False  False      False
..    ...    ...    ...        ...
95  False  False  False      False
96  False  False  False      False
97  False  False  False      False
98  False  False  False      False
99  False  False  False      False

[100 rows x 4 columns]

In [12]:
df.isnull().sum()

city         0
cgpa         8
iq           4
placement    0
dtype: int64

In [20]:
df = df.dropna()

In [21]:
df.isnull().sum()

city         0
cgpa         0
iq           0
placement    0
dtype: int64

In [23]:
df = df.drop_duplicates()

In [24]:
from sklearn.model_selection import train_test_split 
x = df.loc[:,['cgpa', 'iq']] 
y = df['placement']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=104, test_size=0.25)

print("X_train : ", x_train.head()) 
print('') 
print("X_test : ", x_test.head()) 
print('') 
print("y_train : ", y_train.head()) 
print('') 
print("y_test : ", y_test.head()) 
print("\n\n")
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

X_train :      cgpa     iq
84   5.7  169.0
46   5.3  114.0
73   4.9   61.0
13   6.4  116.0
7    5.0   63.0

X_test :      cgpa     iq
86   5.1  128.0
85   5.8  166.0
81   5.4  107.0
20   6.6  120.0
0    6.8  123.0

y_train :  84    0
46    0
73    0
13    1
7     0
Name: placement, dtype: int64

y_test :  86    0
85    1
81    0
20    1
0     1
Name: placement, dtype: int64



(66, 2)
(22, 2)
(66,)
(22,)

In [25]:
from sklearn import svm
from sklearn.svm import SVC, LinearSVC, NuSVC

x = df[['cgpa', 'iq']].values
y  = df[['placement']].values

clf = svm.LinearSVC()
clf.fit(x_train, y_train)

C:\Users\KIIT\anaconda3\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [26]:
result = clf.predict(x_test)
print(result)
clf.score(x_test,result)

[1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

1.0

In [27]:
Test = clf.predict([[8.9, 160.3]])
print(Test)

[1]

C:\Users\KIIT\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearSVC was fitted with feature names
  warnings.warn(

In [28]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, result)
print(cm)

[[ 1 12]
 [ 0  9]]